{
  "openapi": "3.1.0",
  "info": {
    "title": "TUROS API",
    "version": "2026-03-19",
    "description": "The AI-ready data layer for sophisticated investors: SEC filing data, macro data, factor data, and repeatable investment analysis through one API. The current production API host is https://api.secapi.ai. The intended future TUROS API host is https://api.turos.app, but it is not listed as a server until host parity is verified.",
    "contact": {
      "name": "TUROS Support",
      "email": "support@turos.app",
      "url": "https://www.turos.app/contact"
    }
  },
  "externalDocs": {
    "description": "TUROS Developer Docs",
    "url": "https://www.turos.app/docs"
  },
  "servers": [
    {
      "url": "https://api.secapi.ai",
      "description": "Current production host. TUROS branding does not require an API-host migration; existing integrations remain supported."
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth protected resource metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.protected_resource_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "description": "Return OAuth protected resource metadata for hosted MCP and API clients."
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "OAuth authorization server metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "oauth.authorization_server_metadata",
        "x-secapi-access": "public",
        "x-secapi-kind": "mcp",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "description": "Return or proxy OAuth authorization server metadata for the configured WorkOS tenant."
    },
    "/v1/me": {
      "get": {
        "summary": "Current API principal",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "me.current",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Return the current authenticated principal and organization context."
    },
    "/v1/limits": {
      "get": {
        "summary": "Plan limits and quotas",
        "description": "Return the current organization's effective plan, billing state, and route quota windows.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "orgId",
                    "requestId",
                    "recordedAt",
                    "effectivePlanKey",
                    "billingState",
                    "quotas"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "limits"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "recordedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "effectivePlanKey": {
                      "type": "string"
                    },
                    "billingState": {
                      "type": "string"
                    },
                    "quotas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "meterClass",
                          "limit",
                          "period",
                          "allowed",
                          "planKey",
                          "billingState"
                        ],
                        "properties": {
                          "meterClass": {
                            "type": "string"
                          },
                          "limit": {
                            "type": "integer"
                          },
                          "period": {
                            "type": "string",
                            "enum": [
                              "minute",
                              "hour",
                              "day"
                            ]
                          },
                          "allowed": {
                            "type": "boolean"
                          },
                          "planKey": {
                            "type": "string"
                          },
                          "billingState": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "limits",
                      "orgId": "org_example",
                      "requestId": "req_example_123",
                      "recordedAt": "2026-03-19T12:00:00.000Z",
                      "effectivePlanKey": "personal",
                      "billingState": "active",
                      "quotas": [
                        {
                          "meterClass": "standard_read",
                          "limit": 600,
                          "period": "minute",
                          "allowed": true,
                          "planKey": "personal",
                          "billingState": "active"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "limits.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/org": {
      "get": {
        "summary": "Organization profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "org.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Return the current organization profile."
    },
    "/v1/billing/webhooks/stripe": {
      "post": {
        "summary": "Stripe webhook receiver",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.stripe_webhook",
        "x-secapi-access": "public",
        "x-secapi-kind": "webhook",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      },
      "description": "Receive and process signed Stripe subscription lifecycle webhooks."
    },
    "/v1/billing": {
      "get": {
        "summary": "Billing overview",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.current",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Return the current organization's billing snapshot, including pricing posture, budget controls, and settlement provider state."
    },
    "/v1/billing/stripe-config": {
      "get": {
        "summary": "Payment client configuration",
        "description": "Return the current organization's Stripe publishable-key configuration for browser payment setup.",
        "responses": {
          "200": {
            "description": "Stripe publishable-key configuration for browser payment setup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "publishableKey",
                    "livemode",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "stripe_config"
                      ]
                    },
                    "publishableKey": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Stripe publishable key matching the current organization's billing mode. Null means browser payments are not configured."
                    },
                    "livemode": {
                      "type": "boolean",
                      "description": "Whether the key is for live Stripe mode."
                    },
                    "requestId": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                },
                "examples": {
                  "configured": {
                    "summary": "Payments configured",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": "pk_live_example",
                      "livemode": true,
                      "requestId": "req_example_123"
                    }
                  },
                  "unavailable": {
                    "summary": "Payments unavailable",
                    "value": {
                      "object": "stripe_config",
                      "publishableKey": null,
                      "livemode": false,
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.stripe_config",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/rates": {
      "get": {
        "summary": "Pricing catalog",
        "description": "Returns the public pricing catalog, free allowance metadata, plan metadata, and meter-family rates.",
        "responses": {
          "200": {
            "description": "Public pricing catalog including machine-readable free allowance metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "object",
                    "requestId",
                    "version",
                    "starterGrant",
                    "plans"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "pricing_catalog"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "starterGrant": {
                      "type": "object",
                      "additionalProperties": true,
                      "required": [
                        "object",
                        "planKey",
                        "billingState",
                        "calls",
                        "renewable",
                        "overflowPlanKey"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "starter_grant"
                        },
                        "planKey": {
                          "type": "string",
                          "const": "sandbox_grant"
                        },
                        "billingState": {
                          "type": "string",
                          "const": "sandbox_grant"
                        },
                        "calls": {
                          "type": "integer"
                        },
                        "renewable": {
                          "type": "boolean"
                        },
                        "period": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "overflowPlanKey": {
                          "type": "string"
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    },
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "monthlyPriceUsd": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "includedCreditsUsd": {
                            "type": "number",
                            "description": "Monthly included usage-credit value for subscription or contract plans. PAYG and free/grant plans return 0."
                          },
                          "meterFamilyPrices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "pricing_catalog",
                      "requestId": "req_example_123",
                      "version": "2026-08-16-secapi-auditable-workflows",
                      "starterGrant": {
                        "object": "starter_grant",
                        "planKey": "sandbox_grant",
                        "billingState": "sandbox_grant",
                        "calls": 100,
                        "renewable": true,
                        "period": "monthly",
                        "overflowPlanKey": "payg",
                        "note": "New organizations receive 100 included live calls each month. After those calls are used, production work falls through to Pay As You Go rates once billing is activated."
                      },
                      "plans": [
                        {
                          "key": "payg",
                          "displayName": "Pay As You Go",
                          "kind": "metered",
                          "monthlyPriceUsd": null,
                          "includedCreditsUsd": 0,
                          "meterFamilyPrices": [
                            {
                              "key": "standard_reads",
                              "unitAmountUsd": 0.02
                            }
                          ]
                        },
                        {
                          "key": "personal",
                          "displayName": "Pro",
                          "kind": "subscription",
                          "monthlyPriceUsd": 49,
                          "includedCreditsUsd": 10,
                          "meterFamilyPrices": [
                            {
                              "key": "standard_reads",
                              "unitAmountUsd": 0.017
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "billing.rates",
        "x-secapi-access": "public",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/billing/credits": {
      "get": {
        "summary": "Credit balance",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Return the current organization's prepaid credit balance, auto-top-up settings, lifetime totals, and low-balance status."
    },
    "/v1/billing/credits/transactions": {
      "get": {
        "summary": "List credit transactions",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_transactions",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "List the current organization's prepaid credit ledger entries (top-ups, debits, refunds, grants, adjustments), newest first."
    },
    "/v1/billing/credits/topup": {
      "post": {
        "summary": "Buy prepaid credits",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Create a Stripe PaymentIntent to purchase prepaid credits, returning the client secret and the discount/fee charge breakdown."
    },
    "/v1/billing/credits/auto-topup": {
      "put": {
        "summary": "Update auto top-up",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_auto_topup",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Enable or disable automatic prepaid-credit top-ups and set the low-balance threshold and refill amount."
    },
    "/v1/billing/credits/refund": {
      "post": {
        "summary": "Refund credit top-up",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.credits_refund",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Refund the unspent credits of a prepaid top-up to the original payment method, within the refund window (platform fees non-refundable)."
    },
    "/v1/billing/payment-methods/setup-intent": {
      "post": {
        "summary": "Save a payment method",
        "description": "Create a Stripe SetupIntent to save a payment method off-session for top-ups and auto-top-up (max 3 per organization).",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "maxProperties": 0,
                "description": "No request body fields are accepted. Send an empty object or omit the body."
              },
              "examples": {
                "empty": {
                  "summary": "No request body fields",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.setup_intent",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/payment-methods": {
      "get": {
        "summary": "List payment methods",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "List the current organization's saved payment methods, primary first."
    },
    "/v1/billing/payment-methods/{id}": {
      "put": {
        "summary": "Update payment method",
        "description": "Set a saved payment method as primary and/or change its auto-top-up fallback priority.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "properties": {
                  "isPrimary": {
                    "type": "boolean",
                    "description": "Set this saved method as the primary payment method."
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Auto-top-up fallback priority. Lower numbers are tried first."
                  }
                }
              },
              "examples": {
                "setPrimary": {
                  "summary": "Make this payment method primary",
                  "value": {
                    "isPrimary": true
                  }
                },
                "fallbackPriority": {
                  "summary": "Update fallback priority",
                  "value": {
                    "priority": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path identifier `id`."
          }
        ]
      },
      "delete": {
        "summary": "Delete payment method",
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payment_methods.member",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path identifier `id`."
          }
        ]
      },
      "description": "Remove a saved payment method from the current organization."
    },
    "/v1/billing/payg/enable": {
      "post": {
        "summary": "Enable pay-as-you-go",
        "description": "Enable pay-as-you-go in one flow: save a card, make an initial credit top-up, and optionally turn on auto-top-up (returns a PaymentIntent client secret).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "amountUsd"
                ],
                "properties": {
                  "amountUsd": {
                    "type": "number",
                    "minimum": 10,
                    "description": "Initial prepaid credit amount to purchase while enabling PAYG."
                  },
                  "autoTopupThresholdCents": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Optional low-balance threshold, in cents, that enables auto-top-up after payment succeeds."
                  },
                  "autoTopupAmountCents": {
                    "type": "integer",
                    "minimum": 1000,
                    "description": "Optional refill amount, in cents, used with autoTopupThresholdCents."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "amountUsd": 10,
                    "autoTopupThresholdCents": 1000,
                    "autoTopupAmountCents": 2500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PAYG enable PaymentIntent created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "clientSecret",
                    "paymentIntentId",
                    "breakdown",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "payg_enable_intent"
                    },
                    "clientSecret": {
                      "type": "string"
                    },
                    "paymentIntentId": {
                      "type": "string"
                    },
                    "breakdown": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "payg_enable_intent",
                      "clientSecret": "pi_example_secret_example",
                      "paymentIntentId": "pi_example",
                      "breakdown": {
                        "creditsCents": 1000,
                        "discountCents": 0,
                        "feeCents": 30,
                        "totalChargeCents": 1030,
                        "currency": "usd"
                      },
                      "requestId": "req_2ZK8Q1W9F4M6P7R3"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.payg_enable",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/grant/reset": {
      "post": {
        "summary": "Reset starter allowance",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.grant_reset",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Reset free starter allowance usage, limited to once per UTC calendar month per organization."
    },
    "/v1/billing/quote": {
      "post": {
        "summary": "Quote request cost",
        "description": "Quote a billable workflow or meter class against the current billing plan and budget gates.",
        "requestBody": {
          "required": true,
          "description": "Provide meterClass or path. planKey and units are optional.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "planKey": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional public plan key to quote instead of the organization's current plan."
                  },
                  "meterClass": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional meter class. Provide this or a path."
                  },
                  "path": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional API path used to derive the meter class. Provide this or meterClass."
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "HTTP method used with path; defaults to GET when path is supplied."
                  },
                  "units": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Optional positive number of units to quote."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "path": "/v1/facts",
                    "method": "GET",
                    "units": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "planKey",
                    "meterClass",
                    "meterFamily",
                    "units",
                    "unitAmountUsd",
                    "amountUsd",
                    "amountCents",
                    "currency",
                    "requestId",
                    "budget",
                    "budgetGate"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "billing_quote"
                    },
                    "planKey": {
                      "type": "string"
                    },
                    "meterClass": {
                      "type": "string"
                    },
                    "meterFamily": {
                      "type": "string"
                    },
                    "units": {
                      "type": "integer"
                    },
                    "unitAmountUsd": {
                      "type": "number"
                    },
                    "amountUsd": {
                      "type": "number"
                    },
                    "amountCents": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "const": "usd"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "budget": {
                      "type": "object"
                    },
                    "budgetGate": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "billing_quote",
                      "planKey": "personal",
                      "meterClass": "fact_lookup",
                      "meterFamily": "standard_reads",
                      "units": 1,
                      "unitAmountUsd": 0,
                      "amountUsd": 0,
                      "amountCents": 0,
                      "currency": "usd",
                      "requestId": "req_example_123",
                      "budget": {},
                      "budgetGate": null
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.quote",
        "x-secapi-access": "org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/operations/quote": {
      "post": {
        "summary": "Quote an operation",
        "description": "Prices a channel-neutral operation before you execute it, across API, MCP, CLI, SDK, Excel, and Sheets surfaces. No usage is settled by this call.",
        "requestBody": {
          "required": true,
          "description": "Shadow quote only; no usage is settled.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "operationId",
                  "surface"
                ],
                "properties": {
                  "operationId": {
                    "type": "string"
                  },
                  "surface": {
                    "type": "string",
                    "enum": [
                      "api",
                      "mcp",
                      "cli",
                      "excel",
                      "sheets",
                      "sdk_js",
                      "sdk_py",
                      "sdk_go",
                      "sdk_rust"
                    ]
                  },
                  "operationSchemaVersion": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "clientId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "workbookInstallationId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "sourceKey": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "evidenceRequirement": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "artifactClass": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "planKey": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "meterClass": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "path": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "units": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "idempotencyKey": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "operationId": "filing_model.fact.lookup",
                    "surface": "excel",
                    "meterClass": "fact_lookup",
                    "units": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "quoteId",
                    "settlementMode",
                    "executable",
                    "operationContext",
                    "billingQuote",
                    "budgetGate",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "operation_quote"
                    },
                    "quoteId": {
                      "type": "string"
                    },
                    "settlementMode": {
                      "type": "string",
                      "const": "shadow"
                    },
                    "executable": {
                      "type": "boolean"
                    },
                    "operationContext": {
                      "type": "object",
                      "required": [
                        "operationContextId",
                        "operationId",
                        "operationSchemaVersion",
                        "organizationId",
                        "surface",
                        "priceVersion",
                        "quoteId",
                        "billableUnits",
                        "reservedMaximumCredits",
                        "idempotencyKey",
                        "idempotencyMode",
                        "createdAt"
                      ],
                      "properties": {
                        "operationContextId": {
                          "type": "string"
                        },
                        "operationId": {
                          "type": "string"
                        },
                        "operationSchemaVersion": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "userId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "clientId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "surface": {
                          "type": "string",
                          "enum": [
                            "api",
                            "mcp",
                            "cli",
                            "excel",
                            "sheets",
                            "sdk_js",
                            "sdk_py",
                            "sdk_go",
                            "sdk_rust"
                          ]
                        },
                        "workbookInstallationId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sourceKey": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "artifactClass": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "evidenceRequirement": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "priceVersion": {
                          "type": "string"
                        },
                        "quoteId": {
                          "type": "string"
                        },
                        "billableUnits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "meterClass",
                              "meterFamily",
                              "quantity",
                              "amountCents"
                            ],
                            "properties": {
                              "meterClass": {
                                "type": "string"
                              },
                              "meterFamily": {
                                "type": "string"
                              },
                              "quantity": {
                                "type": "number"
                              },
                              "amountCents": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "reservedMaximumCredits": {
                          "type": "integer"
                        },
                        "idempotencyKey": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "idempotencyMode": {
                          "type": "string",
                          "enum": [
                            "none",
                            "deterministic_shadow"
                          ]
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      }
                    },
                    "billingQuote": {
                      "type": "object",
                      "required": [
                        "object",
                        "planKey",
                        "meterClass",
                        "meterFamily",
                        "units",
                        "unitAmountUsd",
                        "amountUsd",
                        "amountCents",
                        "currency",
                        "requestId",
                        "budget",
                        "budgetGate"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "billing_quote"
                        },
                        "planKey": {
                          "type": "string"
                        },
                        "meterClass": {
                          "type": "string"
                        },
                        "meterFamily": {
                          "type": "string"
                        },
                        "units": {
                          "type": "integer"
                        },
                        "unitAmountUsd": {
                          "type": "number"
                        },
                        "amountUsd": {
                          "type": "number"
                        },
                        "amountCents": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string",
                          "const": "usd"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "budget": {
                          "type": "object"
                        },
                        "budgetGate": {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      }
                    },
                    "budgetGate": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "operation_quote",
                      "quoteId": "opquote_example",
                      "settlementMode": "shadow",
                      "executable": true,
                      "operationContext": {
                        "operationContextId": "opctx_example",
                        "operationId": "filing_model.fact.lookup",
                        "operationSchemaVersion": "2026-08-16.shadow",
                        "organizationId": "org_example",
                        "accountId": null,
                        "userId": "user_example",
                        "clientId": "excel_addin",
                        "surface": "excel",
                        "workbookInstallationId": "wb_install_example",
                        "sourceKey": "sec_edgar",
                        "artifactClass": "company_filing_fact",
                        "evidenceRequirement": "lineage_required",
                        "priceVersion": "2026-08-16-secapi-auditable-workflows",
                        "quoteId": "opquote_example",
                        "billableUnits": [
                          {
                            "meterClass": "fact_lookup",
                            "meterFamily": "standard_reads",
                            "quantity": 1,
                            "amountCents": 1
                          }
                        ],
                        "reservedMaximumCredits": 1,
                        "idempotencyKey": "idem_example",
                        "idempotencyMode": "deterministic_shadow",
                        "createdAt": "2026-08-16T00:00:00.000Z"
                      },
                      "billingQuote": {
                        "object": "billing_quote",
                        "planKey": "personal",
                        "meterClass": "fact_lookup",
                        "meterFamily": "standard_reads",
                        "units": 1,
                        "unitAmountUsd": 0,
                        "amountUsd": 0,
                        "amountCents": 0,
                        "currency": "usd",
                        "requestId": "req_example_123",
                        "budget": {},
                        "budgetGate": null
                      },
                      "budgetGate": null,
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "operations.quote",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/operations/execute": {
      "post": {
        "summary": "Execute an operation",
        "description": "Runs a channel-neutral operation and returns the operation envelope and budget gate. Usage is not settled by this call.",
        "requestBody": {
          "required": true,
          "description": "Shadow execution returns the operation envelope and budget gate; settlement remains disabled in this slice.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "operationId",
                  "surface",
                  "idempotencyKey"
                ],
                "properties": {
                  "operationId": {
                    "type": "string"
                  },
                  "surface": {
                    "type": "string",
                    "enum": [
                      "api",
                      "mcp",
                      "cli",
                      "excel",
                      "sheets",
                      "sdk_js",
                      "sdk_py",
                      "sdk_go",
                      "sdk_rust"
                    ]
                  },
                  "operationSchemaVersion": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "quoteId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "idempotencyKey": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "workbookInstallationId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "sourceKey": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "artifactClass": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "evidenceRequirement": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "planKey": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "meterClass": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "path": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "method": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "units": {
                    "type": [
                      "number",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "operationId": "filing_model.fact.lookup",
                    "surface": "mcp",
                    "meterClass": "fact_lookup",
                    "idempotencyKey": "idem_example"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "executionId",
                    "status",
                    "settlementMode",
                    "operationContext",
                    "billingQuote",
                    "budgetGate",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "operation_execution"
                    },
                    "executionId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "quoted",
                        "blocked"
                      ]
                    },
                    "settlementMode": {
                      "type": "string",
                      "const": "shadow"
                    },
                    "operationContext": {
                      "type": "object",
                      "required": [
                        "operationContextId",
                        "operationId",
                        "operationSchemaVersion",
                        "organizationId",
                        "surface",
                        "priceVersion",
                        "quoteId",
                        "billableUnits",
                        "reservedMaximumCredits",
                        "idempotencyKey",
                        "idempotencyMode",
                        "createdAt"
                      ],
                      "properties": {
                        "operationContextId": {
                          "type": "string"
                        },
                        "operationId": {
                          "type": "string"
                        },
                        "operationSchemaVersion": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "userId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "clientId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "surface": {
                          "type": "string",
                          "enum": [
                            "api",
                            "mcp",
                            "cli",
                            "excel",
                            "sheets",
                            "sdk_js",
                            "sdk_py",
                            "sdk_go",
                            "sdk_rust"
                          ]
                        },
                        "workbookInstallationId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sourceKey": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "artifactClass": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "evidenceRequirement": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "priceVersion": {
                          "type": "string"
                        },
                        "quoteId": {
                          "type": "string"
                        },
                        "billableUnits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "meterClass",
                              "meterFamily",
                              "quantity",
                              "amountCents"
                            ],
                            "properties": {
                              "meterClass": {
                                "type": "string"
                              },
                              "meterFamily": {
                                "type": "string"
                              },
                              "quantity": {
                                "type": "number"
                              },
                              "amountCents": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "reservedMaximumCredits": {
                          "type": "integer"
                        },
                        "idempotencyKey": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "idempotencyMode": {
                          "type": "string",
                          "enum": [
                            "none",
                            "deterministic_shadow"
                          ]
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      }
                    },
                    "billingQuote": {
                      "type": "object",
                      "required": [
                        "object",
                        "planKey",
                        "meterClass",
                        "meterFamily",
                        "units",
                        "unitAmountUsd",
                        "amountUsd",
                        "amountCents",
                        "currency",
                        "requestId",
                        "budget",
                        "budgetGate"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "const": "billing_quote"
                        },
                        "planKey": {
                          "type": "string"
                        },
                        "meterClass": {
                          "type": "string"
                        },
                        "meterFamily": {
                          "type": "string"
                        },
                        "units": {
                          "type": "integer"
                        },
                        "unitAmountUsd": {
                          "type": "number"
                        },
                        "amountUsd": {
                          "type": "number"
                        },
                        "amountCents": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string",
                          "const": "usd"
                        },
                        "requestId": {
                          "type": "string"
                        },
                        "budget": {
                          "type": "object"
                        },
                        "budgetGate": {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      }
                    },
                    "budgetGate": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "operation_execution",
                      "executionId": "opexec_example",
                      "status": "quoted",
                      "settlementMode": "shadow",
                      "operationContext": {
                        "operationContextId": "opctx_example",
                        "operationId": "filing_model.fact.lookup",
                        "operationSchemaVersion": "2026-08-16.shadow",
                        "organizationId": "org_example",
                        "accountId": null,
                        "userId": "user_example",
                        "clientId": "excel_addin",
                        "surface": "excel",
                        "workbookInstallationId": "wb_install_example",
                        "sourceKey": "sec_edgar",
                        "artifactClass": "company_filing_fact",
                        "evidenceRequirement": "lineage_required",
                        "priceVersion": "2026-08-16-secapi-auditable-workflows",
                        "quoteId": "opquote_example",
                        "billableUnits": [
                          {
                            "meterClass": "fact_lookup",
                            "meterFamily": "standard_reads",
                            "quantity": 1,
                            "amountCents": 1
                          }
                        ],
                        "reservedMaximumCredits": 1,
                        "idempotencyKey": "idem_example",
                        "idempotencyMode": "deterministic_shadow",
                        "createdAt": "2026-08-16T00:00:00.000Z"
                      },
                      "billingQuote": {
                        "object": "billing_quote",
                        "planKey": "personal",
                        "meterClass": "fact_lookup",
                        "meterFamily": "standard_reads",
                        "units": 1,
                        "unitAmountUsd": 0,
                        "amountUsd": 0,
                        "amountCents": 0,
                        "currency": "usd",
                        "requestId": "req_example_123",
                        "budget": {},
                        "budgetGate": null
                      },
                      "budgetGate": null,
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "operations.execute",
        "x-secapi-access": "authenticated",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/billing/budget": {
      "put": {
        "summary": "Update spend budget",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.budget",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Update organization-level spend caps, soft caps, and approval thresholds for PAYG usage."
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Create checkout session",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.checkout",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Create a Stripe Checkout session for a self-serve Pro or Team SEC API plan."
    },
    "/v1/billing/portal": {
      "post": {
        "summary": "Open billing portal",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "billing.portal",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "billing",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "Create a Stripe Billing Portal session for the current organization."
    },
    "/v1/api_keys": {
      "get": {
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      },
      "description": "List API keys for the current organization.",
      "post": {
        "summary": "Create API key",
        "description": "Create a new API key for the current organization and reveal its secret exactly once.",
        "requestBody": {
          "required": true,
          "description": "Optional API key label. Scopes and livemode are derived server-side for the current organization.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "label": "local-dev"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The `secret` field is revealed exactly once in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "object",
                    "id",
                    "createdAt",
                    "livemode",
                    "orgId",
                    "label",
                    "keyPrefix",
                    "scopes",
                    "status",
                    "lastUsedAt",
                    "secret"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "id": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "keyPrefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "revoked"
                      ]
                    },
                    "lastUsedAt": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "secret": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "api_key",
                      "id": "key_123",
                      "createdAt": "2026-06-27T21:00:00.000Z",
                      "livemode": false,
                      "orgId": "org_123",
                      "label": "local-dev",
                      "keyPrefix": "secapi_live_abcd",
                      "scopes": [
                        "read:sec"
                      ],
                      "status": "active",
                      "lastUsedAt": null,
                      "secret": "secapi_live_abcd...copy_this_once"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "api_keys.collection",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap_tokens": {
      "post": {
        "summary": "Create agent bootstrap token",
        "description": "Issue a short-lived, single-use sponsor token for agent bootstrap under the current organization.",
        "requestBody": {
          "required": true,
          "description": "Requires a human organization member authenticated with a bearer token. API keys cannot create sponsor tokens.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional label carried into the issued agent API key."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional requested scopes; self-serve sponsor tokens are limited to read:sec."
                  },
                  "ttlSeconds": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 86400,
                    "description": "Optional lifetime in seconds. The service clamps the effective value to 60 through 86,400 seconds."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "label": "research-agent",
                    "scopes": [
                      "read:sec"
                    ],
                    "ttlSeconds": 900
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sponsor token issued. The secret is returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "id",
                    "orgId",
                    "actorPrincipalId",
                    "label",
                    "tokenPrefix",
                    "scopes",
                    "livemode",
                    "expiresAt",
                    "usedAt",
                    "usedByPrincipalId",
                    "createdAt",
                    "updatedAt",
                    "secret",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "agent_bootstrap_token"
                    },
                    "id": {
                      "type": "string"
                    },
                    "orgId": {
                      "type": "string"
                    },
                    "actorPrincipalId": {
                      "type": "string"
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tokenPrefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "livemode": {
                      "type": "boolean"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "usedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "usedByPrincipalId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "secret": {
                      "type": "string",
                      "description": "One-time sponsor-token secret. Store only long enough to send it to the bootstrap agent."
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "agent_bootstrap_token",
                      "id": "agtok_example",
                      "orgId": "org_example",
                      "actorPrincipalId": "user_example",
                      "label": "research-agent",
                      "tokenPrefix": "agtok_example",
                      "scopes": [
                        "read:sec"
                      ],
                      "livemode": false,
                      "expiresAt": "2026-03-19T12:15:00.000Z",
                      "usedAt": null,
                      "usedByPrincipalId": null,
                      "createdAt": "2026-03-19T12:00:00.000Z",
                      "updatedAt": "2026-03-19T12:00:00.000Z",
                      "secret": "agtok_example_secret_returned_once",
                      "requestId": "req_example_123"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-secapi-route-id": "agent.bootstrap_tokens",
        "x-secapi-access": "bearer_org",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "local"
      }
    },
    "/v1/agent/bootstrap": {
      "post": {
        "summary": "Agent bootstrap exchange",
        "description": "Exchange a sponsor token for the first org-scoped API key, billing snapshot, limits, and MCP install metadata.",
        "requestBody": {
          "required": true,
          "description": "This exchange is intentionally pre-auth. Do not send an API key or bearer token; submit the sponsor token in the JSON body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Short-lived, single-use sponsor token returned by POST /v1/agent/bootstrap_tokens."
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optional label for the issued API key."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional requested scopes; the self-serve exchange is limited to read:sec."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Copy-pasteable request",
                  "value": {
                    "token": "agtok_example_sponsor_token",
                    "label": "research-agent",
                    "scopes": [
                      "read:sec"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sponsor token exchanged and API key issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "requestId",
                    "organization",
                    "apiKey",
                    "billing",
                    "limits",
                    "distribution",
                    "sponsorToken"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "agent_bootstrap"
                    },
                    "requestId": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "object"
                    },
                    "apiKey": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object"
                    },
                    "limits": {
                      "type": "object"
                    },
                    "distribution": {
                      "type": "object"
                    },
                    "sponsorToken": {
                      "type": "object"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Example response",
                    "value": {
                      "object": "agent_bootstrap",
                      "requestId": "req_example_123",
                      "organization": {},
                      "apiKey": {},
                      "billing": {},
                      "limits": {},
                      "distribution": {},
                      "sponsorToken": {}
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Contract-aware error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "x-secapi-route-id": "agent.bootstrap_exchange",
        "x-secapi-access": "public",
        "x-secapi-kind": "api",
        "x-secapi-docs": "public",
        "x-secapi-smoke": "post_deploy"
      }
    },
    "/v1/event_types": {
      "get": {
        "summary": "Event type catalog",
        "description": "List Delivery event types, producer status, replay support, retention, and billing family metadata.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "public_emitting",
                "internal",
                "reserved"
              ]
            },
            "description": "Filter the catalog by producer status. `internal` and `reserved` types are not delivered to customer transports."
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery event type catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "event_type_catalog"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "type",
                          "status",
                          "schemaVersion",
                          "billingFamily"
                        ],
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "public_emitting",
                              "internal",
                              "reserved"
                            ]
                          },
                          "description": {
                            "type": "string"
                          },
[...]
